<h1>Here are the rankings for <%= obj.season %></h1>
<% data.forEach((obj) => { %>
    <div class="rankings">
        <p><%= obj.position %>--</p><br>
        <p><%= obj.driver.name %>--</p>
        <p><%= obj.team.name %></p>
        <p>--Total Points: <%=obj.points %></p>
    </div>

    <% }) %>    