<h1>Here is a list of Drivers based on your search!</h1>
<% data.forEach((obj) => { %>
    <h1><%= obj.name %></h1>
    <img src="<%= obj.image %> ">
    <div class="driverInfo">
        <p>Nationality: <%= obj.nationality %></p>
        <p>Birth Date: <%= obj.birthdate %></p>
        <form action="/faveDrivers" method="POST">
            <input type="hidden" name="name" value="<%= obj.name %>">
            <input type="submit" value="Add to Favorite Drivers">
        </form>
    </div>
    <% }) %> 